{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

    <table  class="table table-striped" style="width:50%;">
        <thead>
        <tr>
            <td style="width: 5%;">id</td>
            <td style="width: 10%">User name</td>

        </tr>
        </thead>

        <tboby>
            {% for article in pagination %}
               <tr>
                   <td>{{ article.id }}</td>
                   <td>{{ article.username }}</td>
                   <td>
                       <a href="{{ path('user_edit', {'id': article.id}) }}"> <button class="btn btn-sm btn-primary">edit</button></a>
                       <a href="{{ path('users_delete', {'id': article.id}) }}" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
                   </td>
               </tr>
                {% endfor %}
        </tboby>
    </table>

    <div class="pagination pagination-lg">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}